@import "_functions";
@import "_mixins";
@import "_variables";

.block-lb-webform {
  .section-header {
    h2 {
      font-size: 35px;
      line-height: 40px;
      @include media-breakpoint-up('lg'){
        font-size: 50px;
        line-height: 65px;
      }
    }
    p {
      font-size: 18px;
      line-height: 28px;
      font-family: var(--ylb-font-family-verdana);
      font-weight: 400;
    }
  }
  .lb-webform {
    .form-item {
      margin-right: 0;
      margin-left: 0;

      label {
        font-size: 18px;
        line-height: 28px;
        display: block;
        text-transform: uppercase;
      }

      @include media-breakpoint-up('lg'){
        &.form-item-name,
        &.form-item-email {
          width: 48.3%;
          display: inline-block;
          &:first-child {
            margin-right: 2.7%;
          }
        }
      }

      input,
      textarea {
        padding: 13.5px;
        font-size: 18px;
        line-height: 22px;
        border-radius: var(--wsBorderRadius, unset);
        border-color: rgba(35,31,32,0.4);
        &:focus {
          box-shadow: 0 0 4px 0 rgba(35,31,32,0.4);
        }
      }

    }
    .form-actions {
      margin-top: 40px;
      .btn {
        background-color: var(--wsPartnerColor, #636466);
        border-color: var(--wsPartnerColor, #636466);
        color: var(--ylb-color-white);
        margin-left: 0;
        font-size: 24px;
        border-width: 2px;
        line-height: 30px;
        padding: 7px 18px 9px;
        border-radius: var(--wsBorderRadius, unset);

        &:hover {
          background-color: transparent;
          color: var(--wsPartnerColor, #636466);
        }
      }
    }
  }
}

.lb-webform {
  .form-actions {
    .btn {
      .layout-container.ws-button-fill--filled--global &,
      .layout-container .block-layout-builder.ws-button-fill--filled--component & {
        background-color: var(--wsPartnerColor, black);
        color: var(--ylb-color-white, white);
        border: 2px solid transparent;

        &:hover {
          background-color: var(--ylb-color-white, white);
          color: var(--wsPartnerColor, black);
          border-color: var(--wsPartnerColor, black);
        }
      }

      .layout-container.ws-button-fill--outlined--global &,
      .layout-container .ws-button-fill--outlined--component & {
        background-color: var(--ylb-color-white, white);
        color: var(--wsPartnerColor, black);
        border: 2px solid var(--wsPartnerColor, black);


        &:hover {
          background-color: var(--wsPartnerColor, black);
          color: var(--ylb-color-white, white);
          border-color: transparent;
        }
      }
    }
  }
}
